
   <style>
    
   body{
       display: flex;
       align-items: center;
       justify-content: center;
   }
       
       
        *, *:before, *:after {
      box-sizing: border-box !important;
    }

       /*줄바꿈??*/
    .seats {
      display: flex !important;
      flex-direction: row !important;
      flex-wrap: nowrap !important;
      justify-content: center;
    }
       
       .theater {
           width: 300px;
           border-right: 5px solid #d8d8d8 ;
          border-left: 5px solid #d8d8d8 ;
           
       }
       
           /* 체크버튼 없애기*/
    input[type=checkbox] {
      position: absolute !important;
      opacity: 0 !important;
    }
       
       
          /*라벨 크기 조정*/
    label {
      display: flex !important;
      flex: 0 0 14.28571428571429% !important;
      padding: 5px !important;
      position: relative !important;
    }

       
       /* 기본 바튼 상태*/
    label {
      
      display: block !important;
      position: relative !important;
      width: 10px !important;
      text-align: center !important;
      font-size: 14px !important;
      font-weight: bold !important;
      line-height: 1.5rem !important;
      padding: 4px 0 !important;
      background: #bada55 !important;
      border-radius: 5px !important;
      animation-duration: 300ms !important;
      animation-fill-mode: both !important;
    }


    label:before {
      content: "" !important;
      position: absolute !important;
      width: 75% !important;
      height: 75% !important;
      top: 1px !important;
      left: 50% !important;
      transform: translate(-50%, 0%) !important;
      background: rgba(255, 255, 255, 0.4) !important;
      border-radius: 3px !important;
    }



    label:hover {
      cursor: pointer !important;
      box-shadow: 0 0 0px 2px #5C6AFF !important;
    }
       
       
       
       
       /* 체크된 상태*/
    input[type=checkbox]:checked + label {
      background: #F42536 !important;
      -webkit-animation-name: rubberBand !important;
      animation-name: rubberBand !important;
      animation-duration: 300ms !important;
      animation-fill-mode: both !important;
    }
       
       
       
       
     /* disabled박스*/
    input[type=checkbox]:disabled + label {
      background: #dddddd !important;
      text-indent: -9999px !important;
      overflow: hidden !important;
    }

    input[type=checkbox]:disabled + label:after {
      content: "X" !important;
      text-indent: 0 !important;
      position: absolute !important;
      top: 4px !important;
      left: 50% !important;
      transform: translate(-50%, 0%) !important;
    }

    input[type=checkbox]:disabled + label:hover {
      box-shadow: none !important;
      cursor: not-allowed !important;
    }
       
       
       
       
       
    /*애니메이션*/
    @-webkit-keyframes rubberBand {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
      30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
      }
      40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
      }
      50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
      }
      65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
      }
      75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
      }
      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }
    @keyframes rubberBand {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
      30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
      }
      40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
      }
      50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
      }
      65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
      }
      75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
      }
      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }
    .rubberBand {
      -webkit-animation-name: rubberBand;
      animation-name: rubberBand;
    }
       
       
</style>         
<body>
    
<div class="theater">
    <div class="seats">


        <input class="seat" type="checkbox" disabled name="seat" id="1" 
        value="1" onclick="CountChecked(this)" /><label for="1">1</label>



        <input type="checkbox" disabled name="seat" id="2" 
        value="2" onclick="CountChecked(this)" /><label for="2">2</label>



        <input type="checkbox" name="seat" id="3" 
        value="3" onclick="CountChecked(this)" /><label for="3">3</label>



        <input type="checkbox" name="seat" id="4" 
        value="4" onclick="CountChecked(this)" /><label for="4">4</label>



        <input type="checkbox" name="seat" id="5" 
        value="5" onclick="CountChecked(this)" /><label for="5">5</label>
      
    </div>

        <br>





        <div class="seats">
        <input type="checkbox" name="seat" id="151" 
        value="151" onclick="CountChecked(this)" /><label for="151">151</label>



        <input type="checkbox" name="seat" id="152" 
        value="152" onclick="CountChecked(this)" /><label for="152">152</label>



        <input type="checkbox" name="seat" id="153" 
        value="153" onclick="CountChecked(this)" /><label for="153">153</label>



        <input type="checkbox" name="seat" id="154" 
        value="154" onclick="CountChecked(this)" /><label for="154">154</label>



        <input type="checkbox" name="seat" id="155" 
        value="155" onclick="CountChecked(this)" /><label for="155">155</label>
    </div>
				
        <br>
				




    <div class="seats">

        <input type="checkbox" name="seat" id="156" 
        value="156" onclick="CountChecked(this)" /><label for="156">156</label>



        <input type="checkbox" name="seat" id="157" 
        value="157" onclick="CountChecked(this)" /><label for="157">157</label>



        <input type="checkbox" name="seat" id="158" 
        value="158" onclick="CountChecked(this)" /><label for="158">158</label>



        <input type="checkbox" name="seat" id="159" 
        value="159" onclick="CountChecked(this)" /><label for="159">159</label>



        <input type="checkbox" name="seat" id="160" 
        value="160" onclick="CountChecked(this)" /><label for="160">160</label>
    </div>
    
    
    
    
    </div>
</body>